# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.ipr
*.iws
.idea/

# Generated
*.g.dart
*.freezed.dart

# Platform
android/.gradle/
android/local.properties
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pub
.pub-cache/
.pub/
pubspec.lock
